<html>
<head>
<title>La Bonnz App</title>
<link rel="stylesheet" href="style1.css">
</head>
<body a link="white" vlink="white">
	<div class="banner">
		<div class="content">
			<h1>La Bonnz</b></h1>
			<p><b>A Smart Fashion Recommender Application</b></p>
			<div>
				<button><a href="UserLogin.html">Are you an existing User?<br>Click here</a></button>
			</div>
			<div>
				<button><a href="registerUser.html">Are you a new User?<br>Click here</a></button>
			</div>
			<div>
				<button><a href="AdminLogin.html">Are you an existing Admin?<br>Click here</a></button>
			</div>
			<div>
				<button><a href="registerAdmin.html">Are you a new Admin?<br>Click here</a></button>
			</div>
		</div>	
	</div>
</body>
</html>